{% extends "/proj/projbase.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>Database<hr></h1>
<img style="margin: auto; display: block" src="{{ asset('img/proj/er-bj.png') }}" width="500" alt="ER-diagram blackjack">
<p>Som vi ser i bilden ovan innehåller databasen två tabeller: Player och Dealer. Player-tabellen sparar varje spelares namn, pengar och
hur många rundor som spelades. Dealer-tabellen sparar statistik om banken, hur många givar den har haft och hur många av dessa som varit vinst, förlust och
push (när spelaren och banken har samma värde).</p>

<p>Som synes så har tabellerna ingen relation till varandra. Jag försökte initialt komma på tabeller som kunde stå i relation till varanda, men det var lättare
sagt än gjort med tanke på vad jag sparar till databasen. Som databas valde jag SQLite då det var vad jag jobbat med i tidigare kursmoment och eftersom tiden var
begränsad valde jag att lägga den på att utveckla kortspelet istället för att sätta mig in i hur jag skulle gjort med t ex MariaDB. Precis som i kursmoment lyckades
jag inte få till några enhetstester mot databasen, jag har läst instruktionerna åtaliga gånger, men jag får inte rätsida på det. Så det blev inga enhetstester mot 
databasen även denna gång. Kanske man vågar hoppas på en genomgång av detta i framtida kurser?</p>

<p>Att jobba med databasen via ORM är inget jag är jätteförtjust i. Det beror nog mest på att jag känner mig betydligt tryggare med att jobba
på det sätt vi gjorde i databaskursen. Det är möjligt att min åsikt ändras om jag arbetar mer med ORM. Men som jag skrev i kursmoment 05 så är ORM ett bra sätt om
man vill slippa jobba med sql-kod. En annan fördel med ORM är att det blir en mellanhand mellan relationsdatabasen och den objektorienterade programmeringen. Jag uppelver
det som att det blir mindre kod att skriva i och med alla metoder skapas per automatik när man lägger upp tabellen i doctrine. Jag har inte provat att göra några joins i ORM
då mina tabeller inte riktigt gav den möjligheten, men det utförs lite annorlunda än i SQL om jag förstod det rätt. Det går att göra på flera sätt. Men jag tycker det verkar
enklast att bara ändra i entity-klassen genom att lägga till getter/setter-metoder som kopplar till den andra tabellen, med en ny konstruktor som skapar en ArrayCollection i andra
tabellen. Återigen eftersom jag känner mig mer bekväm med SQL känns det mycket enklare att joina på det sättet.</p>

<p>Nackdelarna med att jobba med ORM istället för ren SQL handlar väl främst i mitt fall om okunskap. Jag upplever att jag har mycket bättre koll på vad som visas upp och hur det
visas upp när jag jobbar som vi gjorde i databaskursen. I min player-lista hade jag t ex velat sortera spelarna efter hur mycket pengar de hade, men jag lyckades inte komma på hur.
Rimligen borde ju detta gå, annars ser jag inte riktigt någon vinning i ORM. Men i SQL är det väldigt enkelt att bara ha med ett "ORDER BY". Överlag upplever jag ORM som lite av en
light-variant av att jobba med databaser. Men det kanske bara är ett första intryck, ju mer jag lär mig kanske får mig att ändra uppfattning.</p>

<img style="margin: auto; display: block" src="{{ asset('img/proj/joker.png') }}" width="600" alt="joker cards">

{% endblock %}