{% extends "base.html.twig" %}

{% block title %}Bet{% endblock %}

{% block body %}
    <h1>Place your bets<hr></h1>

    <table>
    <th>Players money:</th>
    <th>Dealers money:</th>
    <tr>
    <td>{{ playerMoney }}</td>
    <td>{{ cpuMoney }}</td>
    </tr>
    </table>
    <div class="cards">
    <h4>How much will you bet this round?</h4>
    <form method="post" action="{{ path('bet') }}">
    <input type="number" name="amount" min="10" max={{ playerMoney }} step="10" value="10">
    <input type="submit" name="do_it" value="Place bet">
    </form><hr></div>

{% endblock %}