{% extends "base.html.twig" %}

{% block title %}Deck{% endblock %}

{% block body %}
<h1>Deck</h1>
<h2> Number of cards in deck: {{ numberOfCards }}</h2>
<div class="cards">
    {% for card in deckCards %}
        <img src="{{ asset('img/cards/'~ card ~'.svg') }}" width="100px">
    {% endfor %}
</div>


{% endblock %}