{% extends "base.html.twig" %}

{% block title %}Game{% endblock %}

{% block body %}
<h1>Kortspelet 21</h1>
<h2>Regler:</h2>
<p>Kortspelet 21 går ut på att man ska dra kort för att komma så närma 21 som möjligt, men inte över 21. Spelaren
börjar med att dra ett kort, väljer om man ska stanna eller dra ett nytt kort. Spelaren fortsätter sedan att dra kort
tills denne är nöjd. Därefter är det bankens (datorns) tur att göra likadant. Banken måste dra kort till den minst har 
ett värde på 17, då stannar den. Den som är närmast 21 av spelaren och banken vinner.</p>

    <a href="{{ path('init') }}"><button>Start game</button></a>

{% endblock %}