{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Home<hr></h1>
    <img style="margin: auto; display: block" src="{{ asset('img/me1.jpg') }}" width="400" alt="David">
    <p>Mitt namn är David Dahlgren, är 41 år och kommer från Halmstad. När jag inte pluggar till webbprogrammerare jobbar jag som lärare i 
    engelska och SO på högstadiet.  Det har varit ganska tufft att få ihop det tidsmässigt, med både jobb och studier, så nu i vår har jag tagit tjänstledig. 
    Jag har alltid haft ett stort intresse för datorer och IT, fick min första dator, en C64, julen 1989 och har sen dess varit fascinerad av dessa aparater. 
    I ärlighetens namn har väl spel alltid varit det främsta intresset, men på senare tid har jag även börjat intressera mig för hur spelen är uppbyggda. 
    Därifrån var inte steget till att börja plugga progarammering långt.</p>
{% endblock %}